/*
Copyright 2026 SAP SE or an SAP affiliate company and contributors.
*/

// Package {{ .Env.GROUP | strings.ToLower }} contains group {{ .Env.GROUP }} API versions
package {{ .Env.GROUP | strings.ToLower }}
